<table>
<button ui-sref="app.bordeaux">ajouter une promo</button>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Age</th>
        <th>Adresse</th>
        <th>Promo</th>
    </tr>

    <tr>
        <td></td>
        <td><input type="text" name="name" ng-model="$ctrl.selectedStudent.name"></td>
        <td><input type="number" name="age" ng-model="$ctrl.selectedStudent.age"></td>
        <td>
            <input type="text" name="address" ng-model="$ctrl.selectedStudent.address">
        </td>
        <td>
            <select ng-model="$ctrl.selectedStudent.promo">
                <option ng-repeat="promo in $ctrl.promos" value="{{promo._id}}">{{promo.name}}</option>
            </select>
        </td>
        <td>
            <button type="button" name="button" ng-click="$ctrl.add()"> Ajouter </button>
        </td>

    </tr>

    <tr>
        <td></td>
        <td>Filtrer par age et/ou par ville</td>
        <td><input type="text" name="age" ng-model="search.age"></td>
        <td>
            <input type="text" name="address" ng-model="search.address">
        </td>
        <td>
            <input type="text" name="promo" ng-model="search.promo.name">
        </td>

    </tr>



    <tr ng-repeat="student in $ctrl.students | filter:search:strict">
        <td>{{$index}}</td>
        <td>
            <span ng-if="!student.editMode">{{student.name}}</span>
            <input ng-if="student.editMode" type="text" name="name" ng-model="student.name">
        </td>
        <td>
            <span ng-if="!student.editMode">{{student.age}}</span>
            <input ng-if="student.editMode" type="text" name="age" ng-model="student.age">
        </td>
        <td>
            <span ng-if="!student.editMode">{{student.address}}</span>
            <input ng-if="student.editMode" type="text" name="address" ng-model="student.address">
        </td>
        <td>
            <span ng-if="!student.editMode">{{student.promo.name}}</span>
            <input ng-if="student.editMode" type="text" name="promo" ng-model="student.promo">
        </td>

        <td>
            <button type="button" name="button" ng-click="$ctrl.delete(student, $index)"> Supprimer </button>

            <button type="button" name="button" ng-click="$ctrl.edit(student)">{{ (student.editMode ? 'Valider' : 'Modifier')}} </button>
            <button type="button" name="button" ng-if="student.editMode" ng-click="$ctrl.cancel(student, $index)"> Annuler </button>
        </td>
    </tr>

</table>
