<h1>Ajouter une nouvelle promotion </h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>numero</th>
    </tr>

    <tr>
        <td></td>
        <td><input type="text" name="name" ng-model="$ctrl.selectedPromo.name"></td>
        <td>
            <button type="button" name="button" ng-click="$ctrl.add()"> Ajouter </button>
        </td>

    </tr>

    <tr ng-repeat="promo in $ctrl.promos">
        <td><span ng-if="!promo.editMode">{{promo._id}}</span></td>
        <td>
            <span ng-if="!promo.editMode">{{promo.name}}</span>
            <input ng-if="promo.editMode" type="text" name="name" ng-model="promo.name">
        </td>
        <td>
            <button type="button" name="button" ng-click="$ctrl.delete(promo, $index)"> Supprimer </button>

            <button type="button" name="button" ng-click="$ctrl.edit(promo)">{{ (promo.editMode ? 'Valider' : 'Modifier')}} </button>
            <button type="button" name="button" ng-if="promo.editMode" ng-click="$ctrl.cancel(promo, $index)"> Annuler </button>
        </td>
    </tr>
</table>
